pkgbase = minimal-plasma
	pkgdesc = A minimal Plasma Desktop installation
	pkgver = 0.0.3
	pkgrel = 1
	url = https://github.com/brunomiguel/minimal-plasma
	arch = any
	license = GPL3
	depends = kvantum
	depends = kvantum-theme-materia
	depends = plasma-desktop
	depends = konsole
	depends = ark
	depends = gwenview
	depends = kde-gtk-config
	depends = kdeplasma-addons
	depends = ksystemstats
	depends = powerdevil
	depends = spectacle
	depends = kio-extras
	depends = kcalc
	depends = kcron
	depends = okular
	depends = dolphin
	depends = dolphin-plugins
	depends = sweeper
	depends = kdeconnect
	depends = oxygen
	depends = plasma-nm
	depends = plasma-pa
	depends = konsole
	depends = okular
	depends = kate
	depends = print-manager
	depends = sddm
	depends = vlc

pkgname = minimal-plasma
